<div class="description_container" style="margin:auto; display:flex">


    <img src="{{url+'/getimage/'+project.image}}" alt="">
    
    <div>
    <div class="project_title">{{project.name}}</div>
    <div class="project_category">{{project.category}}</div>
    </div>
    <div class="project_description ">{{project.description}}</div>

</div>

<div>
    <p *ngIf="confirm == false">
        <a [routerLink]="['/editproject', project._id]" class="btn_edit">Edit</a>
        <button (click)="confirm = true" class="btn_delete">Delete</button>    
    </p>

    <p *ngIf="confirm == true">
        <a (click)="deleteProject(project._id)" class="btn_edit">Delete</a>
        <button (click)="confirm = false" class="btn_delete">Cancel</button>    
    </p>
</div>
