<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{website}}</p>
    
</div>

<article class="about">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo dolorum laboriosam, delectus eos doloribus quam atque quisquam eius dolorem quae non eum nemo. Illo, dignissimos eum! Perferendis itaque reprehenderit beatae doloribus debitis ad magni distinctio consequatur. Officia dolor maxime totam. Assumenda dignissimos impedit nobis esse quos non officiis aliquam sit.</p>

</article>